
.close-button {

    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.close-button:hover {
    background-color: bisque;
    border-radius: 10px;
    color: black;
}

.token-item:hover {
    background-color: #666666;
}